{% extends "base.html" %}

{% block auth %}
        <div class="pull-right">
            {% if user.is_authenticated %}
                Вы зашли под пользователем: {{ user.username }}<br/>
                <a href="{% url 'user_logout' %}">Выйти</a>
            {% else %}
                Для работы необходимо войти в систему!<br/>
                <a href="{% url 'login' %}">Войти</a>
            {% endif %}
        </div>
        <div class="left">
            <a href="{% url 'find_drawing' %}">Поиск чертежей</a>
        </div>
    <hr/>
{% endblock %}
{% block content %}
{% endblock %}