{% extends "drawings_show/auth.html" %}

{% block title %}
Редактирование изма
{% endblock %}

{% block content %}
<form method="post" action="{% url 'edit_revision' revision.pk %}">
{% csrf_token %}
    <table>
        <caption>
            Изменение состояния версии чертежа
        </caption>
        <thead>
            <tr>
                <th>Чертеж</th>
                <th>Активен?</th>
                <th>Изменить состояние</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ revision }}</td>
                <td>{{ revision.is_deleted|yesno:"Нет,Да" }}</td>
                <td>
                    {% if not revision.is_deleted %}
                        <input type="submit" name="delete" value="Удалить" />
                    {% else %}
                        <input type="submit" name="restore" value="Восстановить" />
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
    <a href="{% url 'show_drawing' drawing_id %}">Назад</a>
    <input type="hidden" name="drawing_id" value="{{ drawing_id }}" />
</form>
{% endblock %}