{% extends "drawings_show/auth.html" %}

{% block title %}
Поиск чертежа
{% endblock %}

{% block content %}
<div class="span-18 prepend-3">
    <form id="filter" method="get" action="{% url 'find_drawing' %}">
        <table>
            <caption>
                Поиск чертежа
            </caption>
        {{ find_form.as_table }}
        </table>
        <input type="submit" name="submit" value="Поиск" />
    </form>
</div>
{% endblock content %}