{% extends "base.html" %}

{% block title %}
Основная страница
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Актуальность чертежей ООО&nbsp;"Проектное бюро-ГС"</h1>
            <p>В базе зарегистрировано чертежей: <span class="label label-success">{{ count }}</span></p>
{#            {% if user.is_authenticated  %}#}
{#                <p>#}
{#                    <a class="btn btn-primary btn-lg">Learn more</a>#}
{#                </p>#}
{#            {% endif %}#}
        </div>
    </div>
{% endblock %}