{% extends "drawings_show/auth.html" %}

{% block title %}
Список измов
{% endblock %}

{% block content %}
<table>
    <caption>
        Список версий чертежа
    </caption>
    <thead>
        <tr>
            <td>#</td>
            <th>Шифр чертежа</th>
            <th>Наименование чертежа</th>
            <th>Изм.</th>
            <th>Дата</th>
            <th>Номер сопроводительного</th>
            <th>Активен?</th>
        </tr>
    </thead>
    <tbody>
        {% for revision in revision_list %}
        {% url 'edit_revision' revision.pk as edit_url %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{{ edit_url }}?drawing_id={{ drawing.id }}">{{ drawing.number }}</a></td>
            <td>{{ revision.drawing.name }}</td>
            <td>{{ revision.number|default:"-" }}</td>
            <td>{{ revision.date }}</td>
            <td>{{ revision.cover_letter_number }}</td>
            <td><a href="{{ edit_url }}?drawing_id={{ drawing.id }}">{{ revision.is_deleted|yesno:"Нет,Да" }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}