{% extends "drawings_show/auth.html" %}

{% block title %}
Статистика
{% endblock %}

{% block content %}
<table>
    <caption>Статистика по разделам</caption>
    <thead>
        <tr>
            <th></th>
            <th>Шифр</th>
            <th>Кол-во чертежей</th>
        </tr>
    </thead>
    <tbody>
        {% for drawing in drawing_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ drawing.number }}</td>
                <td>{{ drawing.ncount }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}