{% extends 'base.html' %}

{% block title %}
Проверка статуса
{% endblock %}

{% block content %}
    <table class="table table-bordered">
        <caption>Актуальность чертежа:</caption>
        <thead>
        <tr>
            <th>
                Актуальность
            </th>
            <th>
                Шифр чертежа
            </th>
            <th>
                Наименование
            </th>
            {% if revision.number > 0 %}
                <th>
                    Изм.
                </th>
            {% endif %}
            <th>
                Дата выпуска
            </th>
            {% if revision.cover_letter_number %}
                <th>Сопроводительное письмо</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        <tr>
            <td id="status">
                {% if revision.number == -1 %}
                    Чертеж аннулирован
                {% else %}
                    {% if revision == last_revision %}
                        <span class="label label-success">Актуален</span>
                    {% else %}
                        <span class="label label-danger">Не актуален</span>
                    {% endif %}
                {% endif %}
            </td>
            <td>
                {{ drawing }}
            </td>
            <td>
                {{ revision.name }}
            </td>
            {% if revision.number > 0 %}
                <td>
                    {{ revision.number }}
                </td>
            {% endif %}
            <td>
                {{ revision.date }}
            </td>
            {% if revision.cover_letter_number %}
                <td>
                    {{ revision.cover_letter_number }}
                </td>
            {% endif %}
        </tr>
        </tbody>
    </table>
    {% if revision != last_revision %}
        <p class="text-danger">Последняя версия данного чертежа: {{ last_revision }}</p>
    {% endif %}
{% endblock %}