body {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14pt;
    color: #333333;
    width: 95%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 2px solid blue;
}

th, td {
    border: 1px solid blue;
}
caption {
    font-size: 1.2em;
    font-weight: bold;
    padding: 15px;
}
th {
    font-size: 1.1em;
    text-align: center;
    padding: 10px;
    background-color: #CED8F6;
}
td {
    padding: 5px;
}
.warning {
    color: maroon;
}

.small {
    font-size: 0.9em;
}

#status {
    text-align: center;
}

#status img {
    width: 48px;
}
.right {
    float:right !important;
}

#header {
    height: 2.5em;
}

input {
    margin: 0.5em;
}

input[type=text] {
    width: 30em;
}