<!DOCTYPE html>
<html lang="ru">
{#{% load url from future %}#}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <title>
        {% block title %}
        {% endblock %}
        - ПБ-ГС. Актуальность чертежей.
    </title>
    {% block style %}
        {#        <link type="text/css" rel="stylesheet" href="/static/stylesheet.css" />#}
    {% endblock %}
</head>
<body>
<div class="container">
    {% block auth %}
    {% endblock %}
    {% block content %}
    {% endblock %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
{% block scripts %}
{% endblock %}
</body>
</html>